# Configuration du serveur
PORT=3000
TARGET_EMAIL=contact@cashless.africa

# RESEND API
RESEND_API_KEY=re_votre_cle_ici
RESEND_FROM=Cashless Flo <onboarding@resend.dev>

# SMTP Configuration (Optionnel)
SMTP_HOST=
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=
SMTP_PASS=
